@keyframes girar {
  0% {
    background: url("./cara.png");
  }

  25% {
    background: url("./coroa.png");
  }

  50% {
    background: url("./cara.png");
  }

  75% {
    background: url("./coroa.png");
  }

  100% {
    background: url("./cara.png");
  }
}

#image {
  background: url("./cara.png");
  width: 300px;
  height: 300px;
}

.animate {
  background: url("./cara.png");
  width: 300px;
  height: 300px;
  animation-name: girar;
  animation-iteration-count: 2;
  animation-duration: 1s;
}

.canvas {
  width: 800px;
  height: 500px;
  margin: 50px auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}

#center {
  width: 300px;
  margin: 15px auto;
}

.selection,
#player,
#computer {
  display: inline;
  margin: 25px;
  font-size: 1.3em;
}

button {
  font-size: 1.2em;
  border-radius: 5px;
}
